<table class="table">
  <thead>
    <tr>
      <th (click)="sortTable('firstname')">
        First name
        {{ "firstname" | sortDirection : sortColumn : sortDirection }}
      </th>
      <th (click)="sortTable('surname')">
        Surname{{ "surname" | sortDirection : sortColumn : sortDirection }}
      </th>
      <th (click)="sortTable('username')">
        Username{{ "username" | sortDirection : sortColumn : sortDirection }}
      </th>
      <th (click)="sortTable('email')">
        Email{{ "email" | sortDirection : sortColumn : sortDirection }}
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of data;">
      <td>{{ user.firstname }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</table>

<ng-template #loading>Loading users...</ng-template>
